/* Put your CSS here */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

body > .container {
    padding: 60px 15px 0;
}

.ember-application {
    margin-top: 20px;
}

li > a.active {
    font-weight: bold;
}

.notify-message {
    cursor: pointer;
}

.notify-message:hover button.close {
    color: #000;
    opacity: .5;
}

div.x-notify-message-container.pre-insert, div.x-notify-message-container.destroyed {
    /*   -webkit-transform: scaleY(0); */
    opacity: 0;
}

div.x-notify-message-container {
    /*   -webkit-transform: scaleY(1);
      -webkit-transform-origin: top;
       */
    -webkit-transition: all 0.25s ease;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #eee;
}
#footer > .container {
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
}

a.add-theme {
    margin-top: -33px;
}

a.add-focusarea {
    margin-top: -33px;
}

a.edit-theme {
    margin-top: -22px;
}

div.strategies-theme {
    margin-bottom: 5px;
}

textarea.strategy-description {
    margin-bottom: 20px;
}

div.strategy-administration {
    padding-bottom: 0px;
}

label.strategy-focusarea {
    padding-bottom: 2px;
}