<div class="">
    <div class="col-md-6 col-md-offset-3">
        <form role="form-control">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Opret nye forvaltning
                </div>
                <div class="panel-body">
                    {{x-notify}}
                    <div class="form-group">
                        <label for="exampleInputEmail1">Navn</label>
                        {{input type="text" class="form-control" value=name id="name" placeholder="Navn..."}}
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Farve</label>
                        {{input type="text" class="form-control" value=color id="color" placeholder="Farve..."}}
                    </div>
                </div>
                <div class="panel-footer">
                    <button type="submit" {{action submit}} class="submit-button btn btn-default">Opret</button>
                </div>
            </div>
        </form>
    </div>
</div>

