<div>
    {{#link-to 'administrations.new' class="add-administration btn btn-primary pull-right"}}
        Tilføj forvaltning
    {{/link-to}}

</div>
{{outlet}}
<table class="table">
    <thead>
    <tr>
        <th>Forvaltning</th>
        <th>Farve</th>
    </tr>
    </thead>
    <tbody>
        {{#each administration in model}}
            <tr>
                <td class="administration-name">
                    {{#link-to 'administrations.edit' administration}}
                        {{administration.name}}
                    {{/link-to}}
                </td>
                <td class="administration-color">{{administration.color}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
