{{#bs-modal name="administrationsNewModal" fade=true footerButtonsBinding="modalButtons" title="Opret ny forvaltning"}}
    <form class="form-control">
        {{#input type="text" value=name id="name"}}Navn{{/input}}
        {{#input type="text" value=color id="color"}}Farve{{/input}}
    </form>
{{/bs-modal}}
