<div>
    {{#link-to 'administrations.new' class="add-administration btn btn-primary pull-right"}}
        Tilføj forvaltning
        <span class="badge">{{administrationsCount}}</span>
    {{/link-to}}

</div>
{{outlet}}
<table class="table">
    <thead>
    <tr>
        <th>Forvaltning</th>
        <th>Farve</th>
    </tr>
    </thead>
    <tbody>
        {{#each administration in model}}
            <tr>
                <td>{{administration.name}}</td>
                <td>{{administration.color}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
