<div class="strategies-focusarea">
    <div>
        <label class="strategy-focusarea checkbox-inline">
            {{input type="checkbox" checked=isSelected}} {{focusarea.definition}}
        </label>
        {{textarea value=description class="strategy-description form-control" rows="2"}}
    </div>
</div>