<div class="panel panel-default">
    <div class="panel-heading panel-info">
        Overview grouped by
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li class="active"><a data-toggle="tab" href="#ordered_by_focusareas">Fokus area</a></li>
            <li><a data-toggle="tab" href="#ordered_by_group">Group</a></li>
        </ul>
        <div class="tab-content">
            <br>
            <div class="tab-pane" id="ordered_by_group"></div>
            <div class="tab-pane active" id="ordered_by_focusareas"></div>
        </div>
    </div>
</div>
