<div class="panel panel-default">
    <div class="panel-heading panel-info">
        Oversigt
    </div>
    <div class="panel-body">
        <div id="ordered_by_group"></div>
        {{orderedByGroup}}
    </div>
</div>
