{{x-notify}}
<div class="panel panel-default">
    <div class="panel-heading" style="border-bottom-width: 0px;">
        <div>
            <h4>
                {{t focusareas.index.heading}}
            </h4>
            {{#link-to 'focusareas.new' class="pull-right add-focusarea btn-sm btn-primary"}}
                <span class="glyphicon glyphicon-plus"></span>
            {{/link-to}}
        </div>
    </div>
    {{outlet}}
    <ul class="focusarea-definitions list-group">
        {{#each focusarea in controller}}
            <li class="list-group-item">
                {{#link-to 'focusareas.edit' focusarea}}
                    {{focusarea.definition}}
                {{/link-to}}
            </li>
        {{/each}}
    </ul>
</div>
