<div class="strategies-focusarea">
    <div>
        <label class="strategy-focusarea checkbox-inline">
            {{input type="checkbox"}} {{focusarea.definition}}
        </label>
        <textarea class="strategy-description form-control" rows="2"></textarea>
    </div>
</div>
