<div class="tab-pane active" {{ bind-attr id=administration.id}}>
    <br>
    {{#each theme in model}}
        <div class="strategies-theme panel panel-info">
            <div class="panel-heading">
                {{theme.definition}}
            </div>
            <div class="panel-body">
                Count: {{theme.focusareas.length}}
                {{#each focusarea in theme.focusareas}}
                    <div class="strategies-focusarea">
                        {{focusarea.definition}}<br>
                    </div>
                {{/each}}
            </div>
        </div>
        <br>
    {{/each}}
</div>
