<table class="table">
    <thead>
    <tr>
        <th>Themes</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>data</td>
        <td>data</td>
    </tr>
    </tbody>
</table>