<table class="table">
    <thead>
    <tr>
        <th style="width:200px">Themes</th>
        <th>Description</th>
        <th style="width: 240px; text-align:center;">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="width:200px">data</td>
        <td>data</td>
        <td style="width: 240px; text-align:center;" class="pull-right">
            <button class="btn btn-default">View</button>
            <button class="btn btn-default">Edit</button>
            <button class="btn btn-danger">Delete</button>
        </td>
    </tr>
    </tbody>
</table>